
/****** BASE STYLES *******/

body {
font-family: 'Montserrat', sans-serif;
}



/******* GRID *********/

.full-width {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 350px;
}



/********* HEADER **********/



header h2 {
    clear: both;
    color: #282728;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
   
}

header h2 span {
    color: #77a466;
}


/******** NAVIGATION *******/

nav {
    float: right;
    padding-top: 20px;

   
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #282728;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;

}


/********* TOP SECTION *******/

#top h3 {
    color: #77a466;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

img {
    clear: both;
    border-top: 1px solid #77a466;
    border-bottom: 2px solid #77a466;
}

#top p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}

/********** BOTTOM SECTION **********/

#bottom .full-width {
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
    margin-top: 20px;
    
}
#bottom #section-one {
    border-right: 1px solid #dedbdc;
}

#bottom #section-two {
    border-right: 1px solid #dedbdc;
    padding: 10px 25px;
}

#bottom #section-three {
    padding: 10px 25px;
}

#bottom h4 {
    font-size: 12px;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
}

#bottom p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#bottom ul {
    line-height: 35px;
    padding-left: 10px;
}

#bottom ul li {
    color: #77a466;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}








/********** FOOTER **********/

footer {
    
    text-align: center;
}

footer h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

footer h5 span {
    color: #77a466;
    font-family: 'Galada', cursive;
    text-transform: lowercase;
}
